week-3/assignments/activity1.dtd

<[
  <!ELEMENT names (name+)>
  <!ELEMENT name (nameName, manufacturer, description, prices, nameItems)>
  <!ATTLIST name sku ID #REQUIRED
                    createdAt CDATA #REQUIRED
                    shippable CDATA #REQUIRED>
  <!ELEMENT nameName (#PCDATA)>
  <!ATTLIST manufacturer id CDATA #REQUIRED>
  <!ELEMENT manufacturer (#PCDATA)>
  <!ELEMENT description (#PCDATA)>
  <!ELEMENT prices (price,price,price)>
  <!ELEMENT price (#PCDATA)>
  <!ELEMENT nameItems (#PCDATA)>
]>